.main__banner{
    margin: 0;
    width: 100%;
    height: 192px;
    background-image: url(../../assets/banner-image.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--blanco1);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.main__banner-btnVer {
    margin-top: .5rem;
    width: 118px;
    height: 40px;
    border: none;
    color: var(--blanco2);
    background-color: var(--azul);
}

/* Diseño para tabletas y laptops   --and (max-width: 1024px) */
@media screen and (min-width: 600px) {

    .main__banner-titulo {
        margin-bottom: 1rem;
    }

    .main__banner-btnVer {
        margin-top: .7rem;
        font-size: .9rem;
        font-weight: 500;
    }
}

/* Diseño para pc, laptops */
@media screen and (min-width: 1024px) {
    .main__banner-btnVer {
        width: 129px;
        height: 51px;
        font-size: 1rem;
    }
}