.footer__logo {
    grid-area: logo;
}

.footer__logo__container {
    display: flex;
    justify-content: center;
    padding: .5rem 0;
}

/* Diseño para tabletas y laptops   --and (max-width: 1024px) */
@media screen and (min-width: 600px) {

    .footer__logo {
        display: flex;
    }
    
    .footer__logo__container {
        width: 100%;
        justify-content: left;
    }

}

/* Diseño para pc, laptops */
@media screen and (min-width: 1024px) {
    .footer__logo {
        display: block;        
    }

    .footer__logo__container {
        padding: 0;
    }
}