#footer {
    grid-area: footer;
    background-color: var(--bg_footer);
    display: grid;
    grid-template: 
    "logo" auto
    "menu" auto
    "contacto" auto
    "developer" auto;
}

/* Diseño para tabletas y laptops   --and (max-width: 1024px) */
@media screen and (min-width: 600px) {
    
    #footer {
        grid-template: 
        "logo contacto" auto
        "menu contacto" auto
        "developer developer" auto / .4fr 1fr;
    }

}

/* Diseño para pc, laptops */
@media screen and (min-width: 1024px) {
    #footer {
        grid-template: 
        "logo menu contacto" auto
        "developer developer developer" auto / .1fr .7fr 1fr;
    }
}