@import url('https://fonts.googleapis.com/css2?family=Gantari&family=Raleway&display=swap');

:root {
    --blanco1: #FFFFFF;
    --blanco2: #F5F5F5;
    --azul: #2A7AE4;
    --black: #464646;
    --gris-letras: #A2A2A2;
    --bg_footer: #EAF2FD;
    --fondo_gris: #E5E5E5;
}

html {
    box-sizing: border-box;
    height: 100%;
    font-family: 'Raleway', 'Gantari', Arial, Helvetica, sans-serif;
}

*, *:before, *:after{
    outline: 0;
    box-sizing: inherit;
}

body {
    min-height: 100%;
    display: grid;
    grid-template: 
    "header" 72px
    "main" 1fr
    "footer" auto;
    color: var(--black);
    line-height: 28px;
}

/*A los links se le quitan el subrayado*/
a {
    text-decoration: none;
    color: inherit;
} 

.button {
    color: var(--azul);
    border: 1px solid var(--azul);
    background-color: var(--blanco1);
    width: 100%;
    padding: .6rem;
    font-weight: 700;
    cursor: pointer;
}

/* Diseño para tabletas y laptops   --and (max-width: 1024px) */
@media screen and (min-width: 600px) {

}

/* Diseño para pc, laptops */
@media screen and (min-width: 1024px) {

}